# OS essentials
.idea
.DS_Store
research/.DS_Store
group/.DS_Store
images/.DS_Store
group/images/.DS_Store

# developing templates
research/idea_template.html
research/exoplanet_atmospheres.html

# deprecated
deprecated/
